* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
}

main {
  background-color: salmon;
  height: 150vh;
}

footer {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #bbb;
  text-align: center;
}

picture img {
  width: 100%;
}
